*{
    margin: 0;
    padding: 0;
}

.red{
    background-size: 70vw;
    margin: 0 auto;
}
section:first-child{
    background: #ff7a7a;
}
ul:first-child{
    display: none;
}
.shad{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
nav{
    position: sticky;
}
ul#er{
  display: none;
  gap: 10px;
  float: right;
  transition: transform cubic-bezier(0.22,-0.18, 0.7, 0.27) 2s 1s scale(0.89);
}
li{
    list-style: none;
}
#r{
    display: none;
}
main{
    position: absolute;
    margin-top: 35px;
    background: #05257d;
    padding: 50px;

}
.blowjob{
    background: red;
    font-size: 4vh;
}
span:first-child{
    color: purple;
}
ul:first-child{
    display: flex;
    float: right;
}
header{
    top: 0;
    background: #621515;
}
li{
    padding: 10px;
}
.logo{
    position: absolute;
    margin-right: 70vw;
}
    .red{
        background: rgba(185, 185, 6, 0.737);
        font-size: 1em;
        font-style: bold;
        padding: 30px;
        height: 20vh;
        overflow-y: scroll;
    }
.red::-webkit-scrollbar {
        width: 1em;
        }
        
        .red::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        
        .red::-webkit-scrollbar-thumb {
        background-color: dodgerblue;
        outline: 1px solid #333333;
        }
@media only screen and(max-width: 720px) {
    ul:first-child{
        display: flex;
    }
    #r{
        display: flex;
    }
}
